@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.blocktext {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{

    align-self: center;
    justify-self: center;
    width: fit-content;
    margin: 20px;
}

body {

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    
}

.gradient {
    background: rgb(255,223,208);
    background: -moz-linear-gradient(0deg, rgba(255,223,208,1) 35%, rgba(252,230,217,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,223,208,1) 35%, rgba(252,230,217,1) 100%);
    background: linear-gradient(0deg, rgba(255,223,208,1) 35%, rgba(252,230,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdfd0",endColorstr="#fce6d9",GradientType=1);
    width: 300px;
    border-radius: 10px;
}

img {
    width: 100%;
}


.border {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    margin: 0px;
    width: 100%;
    margin-top: 10px;
    display: flexbox;
}

.border:hover {
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration-color: #05ac02;
    color: #252525;
}

#frame {
    align-self: center;
    justify-self: center;
    padding-left: 10%;
    padding-bottom: 10%;
   
}

h1 {
    font-family: 'Great Vibes', cursive;
}

.sangbg {
    background-image: url(/WED/assets/sangbg.svg);
    background-size: cover;
}